<h2>Delete which word?</h2>

<ol>
  <% @words.each do |word_obj| %>
    <form action="/" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="deleted_word" value="<%= word_obj%>">
      <li><button type="submit"> <%= word_obj.word%> </button></li>
    </form>
  <% end %>
</ol><br>

<a href="/" class="btn">Back</a><br><br>