<h2>Delete which definition?</h2>

<ol>
  <% @word.definitions.each do |def_obj| %>
    <form action="/<%= @word.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="deleted_def" value="<%= def_obj.id %>">
      <li><button type="submit"> <%= def_obj.definition%> </button></li>
    </form>
  <% end %>
</ol><br>

<a href="/<%= @word.id %>" class="btn">Back</a><br>

<a href="/" class="btn">Home</a><br><br>