<h2>Edit definition:</h2>

<form action="/words/<%= @word.id %>/definitions/<%= @definition.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="new_def" placeholder="new definition" required>
  <button type="submit" class="btn">Update!</button>
</form><br>

<a href="/words/<%= @word.id %>/definitions/<%= @definition.id %>" class="btn">Back</a><br>
