<h1>Welcome to Wordy!</h1>
<h2>You can create a word and give it your own definition.</h2>
<h5>Navigation:</h5>
<ul>
  <li> Click on "Words" to see a list of all your created words.</li>
    <li>You can change, add, or delete any words on the words page.</li>
  <li>To change, add or delete a definition, click on the word and the corresponding buttons will be on that page.</li>
</ul><br><br>

<a href="/words"><h2>Words</h2></a>
