<form action="/definitions" method="post">
<div class="form-group">
    <label for="new_def">Definition:</label>
    <input type ="text" name="new_def" id="new_def" placeholder="definition" required>
    <input type="hidden" name="word_id" id="word_id" value="<% @word.id %>">
    <button type="submit" class="btn">Create!</button>
  </form>
</div>


