<form action="/" method="post">
  <div class="form-group">
      <label for="new_word">Create a new word:</label>
      <input name="new_word" id="new_word" placeholder="word" required>
      <input name="definition" id="definition" placeholder="definition" required>
      <button type="submit" class="btn">Create!</button>
  </div>
</form>

<a href="/" class="btn">Back</a>